apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-app
  namespace: staging
  labels:
    app: nginx-app
    environment: staging
spec:
  replicas: 2 # 2 replicas in staging
  selector:
    matchLabels:
      app: nginx-app
  template:
    metadata:
      labels:
        app: nginx-app
    spec:
      containers:
        - name: nginx
          image: nginx:1.26
          ports:
            - containerPort: 80
          resources:
            limits:
              cpu: 200m
              memory: 128Mi
