apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-app
  namespace: production
  labels:
    app: nginx-app
    environment: production
spec:
  replicas: 3 # 3 replicas in production
  selector:
    matchLabels:
      app: nginx-app
  template:
    metadata:
      labels:
        app: nginx-app
    spec:
      containers:
        - name: nginx
          image: nginx:1.25 # Production still on 1.25 (not promoted yet)
          ports:
            - containerPort: 80
          resources:
            limits:
              cpu: 500m # Higher resources in production
              memory: 256Mi
