apiVersion: v1
kind: Service
metadata:
  name: nginx-app-service
  namespace: dev
spec:
  type: NodePort
  selector:
    app: nginx-app
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30081 # Different port per env
